<div class="formContenido">
    <div>
        <h3 class="from-tittle">REGISTRO DE USUARIO</h3>
        <hr>
        <br>
    </div>
    <nz-card>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <!--Usuario-->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Nombre</nz-form-label>
                <nz-form-control [nzSpan]="30" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="userName" />
                    <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">¡Por favor ingresar el nombre del usuario!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <!--Correo electronico-->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
                <nz-form-control [nzSpan]="30" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <input nz-input formControlName="email" type="email" />
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">¡Por favor ingrese un correo electronico valido!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <!--Contraseña-->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Contraseña</nz-form-label>
                <nz-form-control [nzSpan]="30" nzHasFeedback nzErrorTip="¡Por favor ingrese una contraseña!">
                    <input nz-input type="password" formControlName="password" />
                </nz-form-control>
            </nz-form-item>
            <!--Seleccionar usuario-->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Tipo de usuario</nz-form-label>
                <nz-form-control [nzSpan]="30" nzHasFeedback nzErrorTip="¡Por favor seleccionar un usuario!">
                    <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedValue">
                        <nz-option nzLabel="Estudiante" nzValue="estudiante"></nz-option>
                        <nz-option nzLabel="Director" nzValue="director"></nz-option>
                        <nz-option nzLabel="Jurado" nzValue="jurado"></nz-option>
                        <nz-option nzLabel="Administrador" nzValue="admin"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="30">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Registrar Usuario</button>
                    <button nz-button (click)="resetForm($event)">Cancelar</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>