.logo {
    height: 70px;
    margin: 16px;
}

.img-logo {
    width: 100%;
    height: auto;
}


/**Icono del modal*/

.icons {
    color: rgb(241, 85, 46);
    font-size: 20px;
}

.modal-title {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}