<nz-layout>
    <!--MENU-->
    <nz-sider nzCollapsible class="form-menu">
        <nz-sider nzCollapsible nzWidth="200px">
            <!--LOGO-->
            <div class="logo">
                <img class="img-logo" src="../../../assets/logo-udes-sm.png">
            </div>
            <!--MENU-->
            <ul nz-menu nzTheme="dark" nzMode="inline">
                <li nz-menu-item nzSelected routerLink="Seira" routerLinkActive="active">
                    <span nz-icon nzType="home" nzTheme="outline"></span>
                    <span>Inicio</span>
                </li>
                <li nz-menu-item  routerLink="StudenProject" routerLinkActive="active">
                    <span nz-icon nzType="user"></span>
                    <span>Estudiante</span>
                </li>
                <li nz-submenu nzTitle="Trabajo de grado" nzIcon="file">
                    <ul>
                        <li nz-menu-item routerLink="propuestaGrado" routerLinkActive="active">Propuesta de grado</li>
                        <li nz-menu-item routerLink="PreliminaryProject" routerLinkActive="active">Anteproyecto</li>
                        <li nz-menu-item routerLink="ProjectFinal" routerLinkActive="active">Trabajo Final</li>
        
                    </ul>
                </li>
                <li nz-submenu nzTitle="Administar usuarios" nzIcon="team">
                    <ul>
                        <li nz-menu-item routerLink="Users" routerLinkActive="active">Usuarios</li>
                        <li nz-menu-item routerLink="CreateProject" routerLinkActive="active">Crer proyecto</li>
                        <li nz-menu-item routerLink="CreateUser" routerLinkActive="active">Crear usuario</li>
                    </ul>
                </li>
                <li nz-menu-item routerLink="Configuration" routerLinkActive="active">
                    <span nz-icon nzType="setting"></span>
                    <span>Configuración</span>
                </li>
                <li nz-menu-item (click)="signOut()">
                    <span nz-icon nzType="close"></span>
                    <span>Cerrar sesión</span>
                </li>
                <!--Modal de cerrar sesión-->
                <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
                    <ng-template #modalTitle class="modal-title">
                        <span nz-icon class="icons" nzType="exclamation-circle" nzTheme="outline"></span> ¡Cierre de sesión automatica!
                    </ng-template>
                    <ng-template #modalContent>
                        <p>Si deseas salir haz clic en Cerrar sesión en Cancelar para continuar trabajando</p>
                    </ng-template>
                    <ng-template #modalFooter>
                        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
                        <button nz-button nzType="primary" nzDanger (click)="handleOk()" [nzLoading]="isConfirmLoading">Cerrar sesión</button>
                    </ng-template>
                </nz-modal>
            </ul>
        </nz-sider>
    </nz-sider>
    <!--CONTENIDO-->
    <nz-layout>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <!--PIE DE PAGINA-->
        <nz-footer>Todos los derechos reservados ©2023 Universidad de santander campus Cúcuta</nz-footer>
    </nz-layout>
</nz-layout>
