<nz-layout class="principal">
    <!--MENU-->
    <nz-sider nzCollapsible class="form-menu">
        <nz-sider nzCollapsible nzWidth="200px">
            <!--LOGO-->
            <div class="logo">
                <img class="img-logo" src="../../../assets/logo-udes-sm.png">
            </div>
            <!--MENU-->
            <!-- <li nz-menu-item  routerLink="StudenProject" routerLinkActive="active">
                <span nz-icon nzType="user"></span>
                <span>Estudiante</span>
                </li> -->

                <!-- ADMINISTRADOR -->
            <ul nz-menu nzTheme="dark" nzMode="inline">
                <li nz-menu-item nzSelected routerLink="SeiraCronogram" routerLinkActive="active">
                    <span nz-icon nzType="home" nzTheme="outline"></span>
                    <span>Inicio</span>
                </li>
            
                <!-- ESTUDIANTE, DIRECTOR, CODIRECTOR Y JURADO -->
                <li nz-menu-item nzSelected routerLink="Seira" routerLinkActive="active">
                    <span nz-icon nzType="home" nzTheme="outline"></span>
                    <span>Inicio</span>
                </li>

                <!-- ESTUDIANTE -->
                <li nz-submenu nzTitle="Trabajo de grado" nzIcon="folder">
                    <ul>
                        <li nz-menu-item routerLink="CreateProject" routerLinkActive="active">
                            <span nz-icon nzType="fund-projection-screen"></span>
                            <span>Presentación proyecto</span>
                        </li>

                        <li nz-menu-item routerLink="propuestaGrado" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Propuesta de grado</span>
                        </li>

                        <li nz-menu-item routerLink="anteproyecto" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Anteproyecto</span>
                        </li>

                        <li nz-menu-item routerLink="projectfinal" routerLinkActive="active"> 
                            <span nz-icon nzType="file"></span>
                            <span>Trabajo Final</span>
                        </li>        
                    </ul>
                </li>

                <!-- ADMINISTRADOR -->
                <li nz-submenu nzTitle="Proyectos" nzIcon="project">
                    <ul>
                        <li nz-menu-item routerLink="propuestaGrado" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Propuesta de grado</span>
                        </li>

                        <li nz-menu-item routerLink="anteproyecto" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Anteproyecto</span>
                        </li>

                        <li nz-menu-item routerLink="projectfinal" routerLinkActive="active"> 
                            <span nz-icon nzType="file"></span>
                            <span>Trabajo Final</span>
                        </li>        
                    </ul>
                </li>

                <!-- DIRECTOR Y CODIRECTOR -->
                <li nz-submenu nzTitle="Revisión" nzIcon="folder-view">
                    <ul>
                        <li nz-menu-item routerLink="propuestaGrado" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Propuesta de grado</span>
                        </li>

                        <li nz-menu-item routerLink="anteproyecto" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Anteproyecto</span>
                        </li>

                        <li nz-menu-item routerLink="projectfinal" routerLinkActive="active"> 
                            <span nz-icon nzType="file"></span>
                            <span>Trabajo Final</span>
                        </li>        
                    </ul>
                </li>

                <!-- JURADO -->
                <li nz-submenu nzTitle="Evaluación" nzIcon="file-protect">
                    <ul>
                        <li nz-menu-item routerLink="propuestaGrado" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Propuesta de grado</span>
                        </li>

                        <li nz-menu-item routerLink="anteproyecto" routerLinkActive="active">
                            <span nz-icon nzType="file"></span>
                            <span>Anteproyecto</span>
                        </li>

                        <li nz-menu-item routerLink="projectfinal" routerLinkActive="active"> 
                            <span nz-icon nzType="file"></span>
                            <span>Trabajo Final</span>
                        </li>       
                    </ul>
                </li>

                <!-- ADMINISTRADOR -->
                <li nz-submenu nzTitle="Administar usuarios" nzIcon="team">
                    <ul>
                        <li nz-menu-item routerLink="CreateUser" routerLinkActive="active">
                            <span nz-icon nzType="user-add" nzTheme="outline"></span>
                            <span>Crear usuario</span></li>
                        <li nz-menu-item routerLink="Users" routerLinkActive="active">
                            <span nz-icon nzType="user" nzTheme="outline"></span>
                            <span>Usuarios</span>
                        </li> 
                    </ul>
                </li>

                <!-- ADMINISTRADOR, DIRECTOR, CODIRECTOR Y JURADO -->
                <li nz-menu-item routerLink="Configuration" routerLinkActive="active">
                    <span nz-icon nzType="setting"></span>
                    <span>Configuración</span>
                </li>

                <!-- ESTUDIANTE -->
                <li nz-submenu nzTitle="Configuración" nzIcon="setting">
                    <ul>
                    <li nz-menu-item routerLink="projectfinal" routerLinkActive="active">
                        <span nz-icon nzType="user"></span>
                        <span>Usuario</span>
                    </li>
                    <li nz-menu-item routerLink="propuestaGrado" routerLinkActive="active">
                        <span nz-icon nzType="file" nzTheme="outline"></span>
                        <span>Proyecto</span>
                    </li>
                       
                    </ul>
                </li>
                
                <!-- TODOS LOS ROLES -->
                <li nz-menu-item (click)="signOut()">
                    <span nz-icon nzType="logout"></span>
                    <span>Cerrar sesión</span>
                </li>

                <!--Modal de cerrar sesión-->
                <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
                    <ng-template #modalTitle class="modal-title">
                        <span nz-icon class="icons" nzType="exclamation-circle" nzTheme="outline"></span> ¡Cierre de sesión automatica!
                    </ng-template>
                    <ng-template #modalContent>
                        <p>Si deseas salir haz clic en Cerrar sesión en Cancelar para continuar trabajando</p>
                    </ng-template>
                    <ng-template #modalFooter>
                        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
                        <button nz-button nzType="primary" nzDanger (click)="handleOk()" [nzLoading]="isConfirmLoading">Cerrar sesión</button>
                    </ng-template>
                </nz-modal>
            </ul>
        </nz-sider>
    </nz-sider>
    <!--CONTENIDO-->
    <nz-layout>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <!--PIE DE PAGINA-->
        <nz-footer>Todos los derechos reservados ©2023 Universidad de santander campus Cúcuta</nz-footer>
    </nz-layout>
</nz-layout>
   
