<div class="formContenido">
    <div>
        <h3 class="from-tittle">PROCESO DEL TRABAJO DE GRADO.</h3>
        <hr>
        <br>
    </div>
    <br />
    <nz-table #borderedTable nzBordered nzFooter="Footer" nzTitle="Header">
        <thead>
            <tr>
                <th>Proceso</th>
                <th>Estado</th>
                <th>Nota</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td></td>
                <td></td>
                <th></th>
            </tr>
        </tbody>
    </nz-table>

</div>