<div class="formContenido">
    <div>
        <h3 class="from-tittle">LISTAS DE PROPUESTAS DE TRABAJO DE GRADO.</h3>
        <hr>
        <br>
    </div>

    <nz-input-group class="buscar" [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Buscar poyecto" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    <br />

    <br />
    <nz-table #editRowTable nzBordered [nzData]="listOfData">
        <thead>
            <tr>
                <th class="proyecto">Titulo del proyecto</th>
                <th>Estado</th>
                <th>Acción</th>

            </tr>
        </thead>
        <tbody>

            <tr class="editable-row" *ngFor="let project of projects; let i = index">
                <ng-container>
                    <td>
                        <p>{{ project.titulo }}</p>
                    </td>
                    <td>{{ project.estadoProceso }}</td>

                    <td>
                        <button nz-button [nzType]="'primary'" (click)="showModal(project._id)"><span>Estado</span></button>
                        <nz-modal [(nzVisible)]="isVisible" [nzTitle]="projectId?.titulo" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                            <ng-container *nzModalContent>
                                <div>
                                    <legend>Estado</legend>
                                    <label *ngFor="let estado of ['Aprobado', 'Pendiente', 'Rechazado']">
                                        <input type="radio" 
                                               name="estado"
                                               [value]="estado"
                                               [checked]="projectId?.estadoProceso === estado"
                                               (change)="onCheckboxChange($event, estado, projectId?._id)">
                                        {{ estado }}
                                    </label>
                                    <legend>Proceso</legend>
                                    <label *ngFor="let estadoProyecto of ['Propuesta de grado', 'Anteproyecto', 'Sustentacion', 'Proyecto Final']">
                                        <input type="radio" 
                                               name="estadoProyecto"
                                               [value]="estadoProyecto"
                                               [checked]="projectId?.proceso === estadoProyecto"
                                               (change)="onCheckboxChangeProceso($event, estadoProyecto, projectId?._id)">
                                        {{ estadoProyecto }}
                                    </label>
                                </div>
                            </ng-container>
                        </nz-modal>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </nz-table>

</div>