
<nz-layout>
  <nz-header> 
    <h3 class="from-tittle">CRONOGRAMA DE ENTREGAS</h3>
  <hr>
  </nz-header>
    <nz-content >
      <div class="inner-content">
          <nz-table #middleTable nzSize="middle" [nzData]="data"  >
            <thead >
              <tr>
                <th>proceso</th>
                <th>Fecha de entrega del estudiante</th>
                <th>Fecha de sesion de comite</th>
                <th>Fecha de entrega de resultado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of middleTable.data">
                <td>{{ data.proceso }}</td>
                <td>{{ data.entrega }}</td>
                <td>{{ data.comite }}</td>
                <td>{{ data.resultado }}</td>
              </tr>
            </tbody>
          </nz-table>
</div>
        
     
    </nz-content>
</nz-layout>


