nz-header {
    background: #ffffff;
    height: 80px;
}

.from-tittle {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

nz-content {
    background: #fff;
    min-height: 400px;
}
.from-tittle {
    font-family: 'ineherit', serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.inner-content {
    padding: 10px;
    background: #fff;
    min-height: 460px;
}


nz-header {
    background: #fff;
    height: 80px;
}

tr{
    text-align: center;
}

z-tabled{
   text-align: center;
}






