<nz-layout>
    <nz-header>
        <h3 class="from-tittle">USUARIOS REGISTRADOS</h3>
        <hr>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <br />
            <nz-table #editRowTable nzBordered nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="6%">N°</th>
                        <th>Nombre del usuario</th>
                        <th>Código del usuario</th>
                        <th>Rol del usuario</th>
                        <th>Correo electronico</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data" class="editable-row">
                        <ng-container>
                            <td></td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.codigo}}</td>
                            <td> {{item.rol}}</td>
                            <td>{{item.correo}}</td>
                            <td>{{item.celular}}</td>
                            <td>
                                <a><span nz-icon nzType="edit" nzTheme="outline" class="icons"></span></a>
                                <a nz-popconfirm nzPopconfirmTitle="¿Estas seguro de eliminar el usuario?">
                                    <span nz-icon nzType="delete" nzTheme="outline" style="color: red;" class="icons"></span>
                                </a>
                            </td>
                        </ng-container>
                        <ng-template #editTemplate>
                            <td></td>
                            <td><input type="text" nz-input /></td>
                            <td><input type="text" nz-input /></td>
                            <td><input type="text" nz-input /></td>
                            <td><a>Anteproyecto</a></td>
                            <td>
                                <a class="save">
                                    <span nz-icon nzType="check-circle" nzTheme="outline" style="color: rgb(102, 255, 0);" class="icons"></span>
                                </a>
                                <a nz-popconfirm nzPopconfirmTitle="¿Seguro  desea cancelar?">
                                    <span nz-icon nzType="close-circle" nzTheme="outline" style="color: red;" class="icons"></span>
                                </a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </nz-table>

            <!--Lista de usuarios-->
            <!-- <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="6%">N°</th>
                        <th>Nombre</th>
                        <th>Numero de identidad</th>
                        <th nzWidth="30%">Nombre del proyecto de grado</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of editRowTable.data" class="editable-row">
                        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                            <td>{{item.status}}</td>
                            <td>{{ data.name }}</td>
                            <td> {{ data.numberId }}</td>
                            <td>{{ data.nameProject }}</td>
                            <td><a>Anteproyecto</a></td>
                            <td>
                                <a (click)="startEdit(data.id)"><span nz-icon nzType="edit" nzTheme="outline" class="icons"></span></a>
                                <a nz-popconfirm nzPopconfirmTitle="¿Estas seguro de eliminar el usuario?" (nzOnConfirm)="deleteRow(data.id)">
                                    <span nz-icon nzType="delete" nzTheme="outline" style="color: red;" class="icons"></span>
                                </a>
                            </td>
                        </ng-container>
                        <ng-template #editTemplate>
                            <td>{{ data.id }}</td>
                            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" /></td>
                            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.numberId" /></td>
                            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.nameProject" /></td>
                            <td><a>Anteproyecto</a></td>
                            <td>
                                <a (click)="saveEdit(data.id)" class="save">
                                    <span nz-icon nzType="check-circle" nzTheme="outline" style="color: rgb(102, 255, 0);" class="icons"></span>
                                </a>
                                <a nz-popconfirm nzPopconfirmTitle="¿Seguro  desea cancelar?" (nzOnConfirm)="cancelEdit(data.id)">
                                    <span nz-icon nzType="close-circle" nzTheme="outline" style="color: red;" class="icons"></span>
                                </a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </nz-table>-->
        </div>
    </nz-content>
</nz-layout>