.content-text {
    margin-left: 20px;
}

.text-project {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.inner-content {
    padding: 10px;
    background: #fff;
    min-height: 460px;
}