<nz-layout>
    <nz-header>
        <nz-breadcrumb>
            <app-header></app-header>
        </nz-breadcrumb>
    </nz-header>
    <nz-content>
             
        <div class="titulo">
            <h3 class="from-subtittle" >Información básica del proyecto:</h3>
        </div>
            <!-- FORMULARIO BASICO --> 
            <div class="inner-content">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Titulo del proyecto</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write something here!">
                      <nz-textarea-count [nzMaxCharacterCount]="2000">
                        <textarea formControlName="comment" nz-input rows="2" placeholder="Titulo del proyecto de grado"></textarea>
                      </nz-textarea-count>
                    </nz-form-control>
                </nz-form-item>
                
               
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Autor</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
                    <input nz-input formControlName="userName" placeholder="Nombre del integrante del proyecto" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Autor</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
                      <input nz-input formControlName="userName" placeholder="Nombre del integrante del proyecto" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Director</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
                      <input nz-input formControlName="userName" placeholder="Nombre del director del proyecto" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Codirector</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." >
                      <input nz-input formControlName="userName" placeholder="Nombre del codirector del proyecto" />
                    </nz-form-control>
                  </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Linea de investigación</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback >
                    <input nz-input formControlName="email" placeholder="a que linea de investigación pertenece" type="email" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label  nzRequired>Pertenece a un </nz-form-label>
                    <nz-form-label >semillero de investigación</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >
                        <nz-radio-group [(ngModel)]="radioValue">
                            <label nz-radio nzValue="A">Si</label>
                            <label nz-radio nzValue="B">No</label>
                        </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>¿Cuál?</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >
                      <input nz-input formControlName="email" 
                      placeholder="Si la respuesta fui, ¿A cual semillero pertenece?" type="email" 
                      [disabled]="!validateForm.valid"/>
                    </nz-form-control>
                  </nz-form-item>

                <nz-form-item>
                  <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" >Guardar</button>
                    <button nz-button (click)="resetForm($event)">Editar</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>

    <!-- CARGUE DE LOS ARCHIVOS DE PROPUESTA DE GRADO -->

              <h3 class="from-subtittle" >Carga de propuesta de trabajo de grado:</h3>
            

            <br />
            <button nz-button nzType="primary">Agregar Propuesta de grado</button>
            <br />
            <br />
            <nz-table #editRowTable nzBordered>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th nzWidth="30%">Nombre del proyecto de grado</th>
                        <th>Subir archivo</th>
                        <th>Estado</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{date | date : 'short'}}</td>
                        <td></td>
                        <td>
                            <nz-upload [nzFileList]="fileList">
                                <button nz-button>
                              <span nz-icon nzType="upload"></span>
                            </button>
                            </nz-upload>
                        </td>
                        <td>
                            <a>Aprobado</a>
                        </td>
                        <td>
                            <button nz-button [nzType]="'primary'" (click)="showModal()">
                                <span nz-icon nzType="snippets" nzTheme="outline" class="button-commit"></span>
                            </button>
                            <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnOk)="handleOk()">
                                <ng-container *nzModalContent>
                                    <p>Content one</p>
                                </ng-container>
                            </nz-modal>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

    </nz-content>
</nz-layout>
 
