<nz-layout>
    <nz-header>
        <nz-breadcrumb>
            <app-header></app-header>
        </nz-breadcrumb>
    </nz-header>
    <nz-content>
             
        <div class="titulo">
            <h3 class="from-subtittle" >Información básica del proyecto:</h3>
        </div>


    <!-- CARGUE DE LOS ARCHIVOS DE PROPUESTA DE GRADO -->

              <h3 class="from-subtittle" >Carga de propuesta de trabajo de grado:</h3>
            

            <br />
            <button nz-button nzType="primary">Agregar Propuesta de grado</button>
            <br />
            <br />
            <nz-table #editRowTable nzBordered>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th nzWidth="30%">Nombre del proyecto de grado</th>
                        <th>Subir archivo</th>
                        <th>Estado</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{date | date : 'short'}}</td>
                        <td></td>
                        <td>
                            <nz-upload [nzFileList]="fileList">
                                <button nz-button>
                              <span nz-icon nzType="upload"></span>
                            </button>
                            </nz-upload>
                        </td>
                        <td>
                            <a>Aprobado</a>
                        </td>
                        <td>
                            <button nz-button [nzType]="'primary'" (click)="showModal()">
                                <span nz-icon nzType="snippets" nzTheme="outline" class="button-commit"></span>
                            </button>
                            <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnOk)="handleOk()">
                                <ng-container *nzModalContent>
                                    <p>Content one</p>
                                </ng-container>
                            </nz-modal>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

    </nz-content>
</nz-layout>
 
