<nz-card>
    <h2>Informacion básica</h2>
    <hr>
    <br>
    <br>
    <div nz-row>
        <div nz-col nzSpan="8">Nombre:</div>
        <div nz-col nzSpan="12">Yecid Javier Pimiento</div>
        <div nz-col nzSpan="4">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div nz-row>
        <div nz-col nzSpan="8">Fecha de nacimiento:</div>
        <div nz-col nzSpan="12">29 de septiembre </div>
        <div nz-col nzSpan="4">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div nz-row>
        <div nz-col nzSpan="8">Genero:</div>
        <div nz-col nzSpan="12">Masculino </div>
        <div nz-col nzSpan="4">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
    </div>
</nz-card>
<nz-card>
    <h2>Informacion de contacto</h2>
    <hr>
    <br>
    <br>
    <div nz-row>
        <div nz-col nzSpan="8">Correo electronico:</div>
        <div nz-col nzSpan="12">YecidPimiento&#64;gmail.com</div>
        <div nz-col nzSpan="4">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div nz-row>
        <div nz-col nzSpan="8">Teléfono:</div>
        <div nz-col nzSpan="12">3228167881</div>
        <div nz-col nzSpan="4">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
    </div>
    <br>
</nz-card>