.from-tittle {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    
}

[nz-form] {
      background: #fff;
    
} 

nz-header {
    background: #fff;
    height: 80px;
}

.registroproyecto1{
    width: 360px;

}

.registroproyecto{
    width: 430px;

}

.register-are {
    margin-bottom: 8px;
}
    
.h3 {
    font-family: 'Times New Roman', serif;
    font-weight: 200;
    text-align: left
    
}

.titulo{
    background: #fff;
}

nz-content{
    background: #fff;
}


nz-breadcrumb {
    margin: 16px 0;
}

.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.button-commit {
    display: flex;
    justify-content: center;
}

  button {
    margin-left: 8px;
  }

  .centrar-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 102vh; /* O ajusta esto según tus necesidades */
    background: #fff;
  }
  
  .formulario {
    width: 600px; /* O ajusta esto según el ancho de tu formulario */
  }

  nz-select {
    width: 300px;
  }

  /* .textarea-fijo { */
    /* resize:none; */
    /* width: 300px; Ajusta el ancho según tus necesidades */
    /* height: 100px; Ajusta la altura según tus necesidades */
  /* } */
  



