    <nz-header> 
        <h3 class="from-tittle">REGISTRO INFORMACIÓN BÁSICA DEL PROYECTO</h3>
     <hr>
    </nz-header>
               <!-- FORMULARIO BASICO --> 

               <div class="inner-content">
                <br />
                <br />
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    
                  
                    <nz-form-item> 
                        <nz-form-label [nzSpan]="7" nzRequired>Titulo del proyecto</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write something here!">
                          <nz-textarea-count [nzMaxCharacterCount]="2000">
                            <textarea formControlName="comment" nz-input rows="2" placeholder="Titulo del proyecto de grado"></textarea>
                          </nz-textarea-count>
                        </nz-form-control>
                    </nz-form-item>
                    
                   
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7" nzRequired>Autor</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
                        <input nz-input formControlName="userName" placeholder="Nombre del integrante del proyecto" />
                      </nz-form-control>
                    </nz-form-item>
    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Autor</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
                          <input nz-input formControlName="userName" placeholder="Nombre del integrante del proyecto" />
                        </nz-form-control>
                      </nz-form-item>
    
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Director</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
                          <input nz-input formControlName="userName" placeholder="Nombre del director del proyecto" />
                        </nz-form-control>
                      </nz-form-item>
           
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Codirector</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." >
                          <input nz-input formControlName="userName" placeholder="Nombre del codirector del proyecto" />
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Linea de investigación</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback >
                          <input nz-input formControlName="email" placeholder="a que linea de investigación pertenece" type="email" />
                        </nz-form-control>
                      </nz-form-item>    

                    <nz-form-item>
                        <nz-form-label  nzRequired>Pertenece a un 
                        <br >semillero de investigación</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback >
                            <nz-radio-group [(ngModel)]="radioValue">
                                <label nz-radio nzValue="A">Si</label>
                                <label nz-radio nzValue="B">No</label>
                            </nz-radio-group>
                        </nz-form-control>
                      </nz-form-item>
    
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>¿Cuál?</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback >
                          <input nz-input formControlName="email" 
                          placeholder="Si la respuesta fui, ¿A cual semillero pertenece?" type="email" 
                          [disabled]="!validateForm.valid"/>
                        </nz-form-control>
                      </nz-form-item>
    
                    <nz-form-item>
                      <nz-form-control [nzOffset]="7" [nzSpan]="12">
                        <button nz-button nzType="primary" >Guardar</button>
                        <button nz-button (click)="resetForm($event)">Editar</button>
                      </nz-form-control>
                    </nz-form-item>
  
                  </form>
                </div>

